nav{
    min-height: 8%;
    background-color: #6eb8f5;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
}
.logo{
    max-height: 80%;
    color: white;
}
nav a{
    color: black;
    text-decoration: none;
    padding-right: 50px;
    padding-left: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    overflow: hidden;
}

nav a:nth-child(2):hover,
nav a:nth-child(3):hover,
nav a:nth-child(4):hover,
nav a:nth-child(5):hover{
    background-color: #53a1e0;
    transition: 0.2s;
}
nav a:first-child{
    margin-right: auto;
}